[submodule "Interfaces/CriFs.V2.Hook.ReloadedII"]
	path = Interfaces/CriFs.V2.Hook.ReloadedII
	url = https://github.com/Sewer56/CriFs.V2.Hook.ReloadedII.git
[submodule "Interfaces/FileEmulationFramework"]
	path = Interfaces/FileEmulationFramework
	url = https://github.com/Sewer56/FileEmulationFramework.git
